<div class="row">
  <div class='col-sm-3'>
    <div class="list-group">
      <a class="list-group-item active">
        All <%= @component.category.part %>
      </a>
    <% Component.all.each do |component| %>
      <% if component.category_id == @component.category.id %>
        <%= link_to component.name, component_path(component), :class=>'list-group-item' %> 
      <% end %>
    <% end %>
  </div>
</div>
  <div class="col-sm-9">
    <div class="thumbnail">
      <div class='col-sm-7'>
        <h2><%= @component.company %>: <%= @component.name %></h2>
        <div class="caption">
          <%= image_tag @component.photo(:medium) %>
        </div>
      </div>
   <br><br>
    <h2>
      Price:
    </h2>
    <h4>
      $<%= @component.price.to_i %>
    </h4>
    <h2><hr>
      Condition:
    </h2>
    <h4>
      <%= @component.condition %>
    </h4><hr>
    <h4>
      Posted: <%= @component.created_at.strftime("%b %d, %Y") %> 
    </h4><hr>

        <p><%= @component.description %></p><hr>
    
    <center>
      <h3>Contact Seller</h3>
      <%= form_tag do %>
        <%= label_tag "Your Name" %><br>
        <%= text_field_tag :message %><br>
        <%= label_tag "Your Email" %><br>
        <%= text_field_tag :message %><br>
        <%= label_tag "Subject" %><br>
        <%= text_field_tag(:message, "Reply from Portland Bike Swap", size: "32") %><br>
        <%= label_tag "Message" %><br>
        <%= text_area_tag size: "1x6" %><br>
        <%= hidden_field_tag(:email, @component.user.email) %>
        <%= submit_tag "Send Email", :class => "btn btn-success" %>
      <% end %>  
    </center>          
<%#link_to "Contact Seller", :class=>"btn btn-success" %>            
    </div>
  </div>
</div>

