<div class="row">
  <div class='col-sm-3'>
    <div class="list-group">
  <a class="list-group-item active">
    All <%= @component.category.part %>
  </a>
  <% Component.all.each do |component| %>
    <% if component.category_id == @component.category.id %>
      <%= link_to component.name, component_path(component), :class=>'list-group-item' %>
      
    <% end %>
  <% end %>
  </div>
</div>
  <div class="col-sm-9">
    <div class="thumbnail">
       <div class="caption">
<ul class="bxslider">
  <% Component.all.each do |component| %>
    <% if component.category_id == @component.category.id %>
      <center><li><%= image_tag @component.photo(:medium) %></li></center>
    <% end %>
  <% end %>
</ul>
<center>
  <h1 class='h1-black'>
    <%= @component.company %>:<br>
    <%= @component.name %>
  </h1>
  <h2>
    Price: $<%= @component.price %><br>
    Condition: <%= @component.condition %>
  </h2>
  <h4>
    Description:
  </h4>
  <p><%= @component.description %><br>
  </p>
   <h4>
    Posted: <%= @component.created_at.strftime("%b %d, %Y") %>  
  </h4>

  <div class='clickable'>
    <button class="btn btn-success">Contact Seller</button> 
  </div>
  <div class='email'>  
    <form action="MAILTO:someone@example.com" method="post" enctype="text/plain">
      Name:<br>
      <input type="text" name="name" value="your name"><br>
      E-mail:<br>
      <input type="text" name="mail" value="your email"><br>
      Comment:<br>
      <input type="text" name="comment" value="your comment"><br><br>
      <input type="submit" value="Send">
      <input type="reset" value="Reset">
    </form>
  </div>


  <%#link_to "Contact Seller", :class=>"btn btn-success" %>
</center>

          
       </div>
    </div>
  </div>
</div>
