<div class="row">
  <div class='col-sm-3'>
    <div class="list-group">
  <a class="list-group-item active">
    All <%= @component.category.part %>
  </a>
  <% Component.all.each do |component| %>
    <% if component.category_id == @component.category.id %>
      <%= link_to component.name, component_path(component), :class=>'list-group-item' %>
      
    <% end %>
  <% end %>
  </div>
</div>
  <div class="col-sm-9">
    <div class="thumbnail">
       <div class="caption">
          <center><%= image_tag @component.photo(:medium) %></center>
          <center>
            <h1 class='h1-black'>
              <%= @component.company %>: <%= @component.name %>
            </h1>
            <h4>
              Price: $<%= @component.price.to_i %>   Condition: <%= @component.condition %>
            </h4>
             
            <h4>
              Description:
            </h4>
            <p><%= @component.description %><br>
            </p>
             <h4>
              Posted: <%= @component.created_at.strftime("%b %d, %Y") %>  
            </h4>
            <div class="row">
            <div class='clickable'>
              <button class="btn btn-success">Contact Seller</button> 
            </div>
          </div>
            <div class='email'>  
              <form action="MAILTO:someone@example.com" method="post" enctype="text/plain">
                Name:<br>
                <input type="text" name="name" value="your name"><br>
                E-mail:<br>
                <input type="text" name="mail" value="your email"><br>
                Comment:<br>
                <input type="text" name="comment" value="your comment"><br><br>
                <input id="email" name="email" type="hidden" value=<% @component.user.email %> />
                <input type="submit" value="Send">
                <input type="reset" value="Reset">
              </form>
            </div>

            <% if user_signed_in? %>
              <% if current_user.id === @component.user_id %>
                <%= link_to "Delete", component_path(@component), data: { method: "delete", confirm: "Are you super duper sure?"} %>
              <% end %>
            <% end %>
            
  <%#link_to "Contact Seller", :class=>"btn btn-success" %>
          </center>        
       </div>
    </div>
  </div>
</div>
