<center>
  <div class="container">
  	<h1>Newest Listings</h1>
  </div>
</center>
<% @components.each do |component| %>

  <div class="col-sm-12 col-md-3">
    <div class="thumbnail">
      
        <%= image_tag component.photo(:medium) %>
   
      <div class="caption">
        <h3><center><%= component.company %>:<br> <%= component.name %></center></h3>
        <p>
          <center>price: <%= component.price.to_i %></center>
          <center>condition: <%= component.condition %></center>
        </p>
        <p><center>
             <%= link_to "More Info", component_path(component), :class=>'btn btn-success' %></center></p>
      </div>
    </div>
  </div>
<% end %> <br><br><br>