 <% components = [] %>

<% Component.order('created_at DESC').all.each do |component| %>
  <% if component.category_id == @category.id  %>
    <% components << component %>
	<div class='container'>
	  <div class="thumbnail">
		<div class='row'>
		  <div class="col-sm-2">
			<%= image_tag component.photo(:thumb) %>
       	  </div>
		  <div class="col-sm-4">
		    <p>
			  <%= component.company %>: <%= component.name %><br>
			  price: $<%= component.price %><br>
			  condition: <%= component.condition %><br>
			</p>
		  </div>
		  <div class="col-sm-3">
		    Posted: <%= component.created_at.strftime("%b %d, %Y")%>
		  </div>
		  <div class="col-sm-3">
		    <%= link_to "More Info", component_path(component), :class=>'btn btn-success' %>
		  </div>
		</div>
	  </div>
    </div>
  <% end %>
<% end %>	

