<% Component.all.each do |component| %>
  <div class='container'>
	  <div class="thumbnail">
			<% if component.category_id == @category.id %>
				<div class='row'>
					<div class="col-sm-3">
						<%= image_tag component.photo(:thumb) %>
					</div>
					<div class="col-sm-5">
						  <%= component.company %>: <%= component.name %><br>
					   price: <%= component.price %>
					   condition: <%= component.condition %>
					 </div>
					 <div class="col-sm-2">
					 	  <%= link_to "More Info", component_path(component), :class=>'btn btn-success' %>
					 </div>
				 </div>
		  <% end %>
	  </div>
	</div>
<% end %>	
